@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: #F0F0F0;
}

.infoCard{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% auto;
}

#city{
    font-size: 24px;
    font-weight: bold;
    color: #414B5A;
}

.info{
    border: 1px solid black;
    border-radius: 16px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-around;
    width: 90%;
    padding: 5%;
    margin: 5%;
    background-color: #FDFDFD;
    box-shadow: 2px 8px 20px -1px rgba(0, 0, 0, 0.3);
    &__temp{
        min-height: 74px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        > p{
            color: #808080;
        }
        > #temp{
            font-size: 24px;
            font-weight: bold;
            color: #414B5A;
        }
    }
    &__extra{
        min-height: 74px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-width: 20%;
        >div{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 300;
        }
    }
}

.icon{
    width: 16px;
    height: 16px;
}